body, html {
  width: 100%;
  min-height: 100%;
}
*,
*:after,
*:before {
  box-sizing: border-box;
}
.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}